:root{
  background-color: #ffc0cb;
}

.heading
{
  text-align: center;
}

.heading h1 {
  color: #fff; /* Dark text color */
  font-family: 'Poppins', sans-serif; /* Use a Google Font or a web-safe font */
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  margin: 20px 0px 0px;
}

/* Optional: Add a subtle border-bottom for separation */
.heading h1::after {
  content: '';
  display: block;
  width: 635px;
  margin: 2px 405px 0px;
  border-bottom: 2px solid #333333;
}

.user-inputs {
  background-color: #6e3a14;
  position: relative;
  height: 380px;
  margin: 0px 520px;
  top: 90px;
  border: 2px solid #000000; /* Updated border color (Black) */
  border-radius: 10px;
  box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0.5); /* White shadow with some transparency */
}

.btn.btn-outline-primary {
  font-size: 22px;
  background-color: #fff0f5;
}

#first-to-second-page-button
{
  position: relative;
  left: 43%;
  top: 150px;
  width: 200px;
  height: 80px;
}

#second-to-first-page-button
{
  position: relative;
  top:-43px;
  left: 20px;
  width: 150px;
  height: 50px;
}