.custom-width
{
    max-width: 300px;
}
.input-group
{
    box-sizing: border-box;
}
.input-group input:focus
{
    outline: 3px solid blue;
}

#first-to-second-page-button
{
  position: relative;
  left: 25%;
  top: 100px;
  width: 200px;
  height: 80px;
}