.custom-width
{
    max-width: 300px;
}
.input-group
{
    box-sizing: border-box;
}
.input-group input:focus
{
    outline: 3px solid blue;
}

#first-to-second-page-button
{
  position: absolute;
  top: 115%;
  width: 200px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.error-message {
    color: red;
    font-family: Arial;
    font-style: italic;
    font-size: 14px;
    margin-left: 50px;
    top: -18px;
    position:relative;
  }

.padding {
    position: absolute;
    top: 120%;
    width: 200px;
    height: 80px;
}